CompileFlags:
  CompilationDatabase: build/roboplan/
If:
  PathMatch:
  - roboplan/.*
---
CompileFlags:
  CompilationDatabase: build/roboplan_rrt/
If:
  PathMatch:
  - roboplan_rrt/.*
---
CompileFlags:
  CompilationDatabase: build/roboplan_simple_ik/
If:
  PathMatch:
  - roboplan_simple_ik/.*
---
CompileFlags:
  CompilationDatabase: build/roboplan_examples/
If:
  PathMatch:
  - roboplan_examples/.*
---
CompileFlags:
  CompilationDatabase: build/roboplan_example_models/
If:
  PathMatch:
  - roboplan_example_models/.*
---
CompileFlags:
  CompilationDatabase: build/roboplan_toppra/
If:
  PathMatch:
  - roboplan_toppra/.*
---
CompileFlags:
  CompilationDatabase: build/roboplan_oink/
If:
  PathMatch:
  - roboplan_oink/.*
---
