Source: ros-rolling-roboplan-oink
Section: misc
Priority: optional
Maintainer: "Sebastian Jahr" <sebastian.jahr@tuta.io>
Build-Depends: debhelper (>= 9.0.0), libgmock-dev <!nocheck>, nanobind-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gmock <!nocheck>, ros-rolling-ament-cmake-python, ros-rolling-osqp-vendor, ros-rolling-roboplan, ros-rolling-roboplan-example-models <!nocheck>, ros-rolling-ros-workspace
Homepage: https://index.ros.org/p/roboplan_oink/#rolling
Standards-Version: 3.9.2

Package: ros-rolling-roboplan-oink
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nanobind-dev, ros-rolling-osqp-vendor, ros-rolling-roboplan, ros-rolling-ros-workspace
Description: OInK - Optimal Inverse Kinematics solver for RoboPlan.
